<header>
  
  <div class="top">
  <a href="http://facebook.com" target="_blank" class="top_media_reference"><img class="top_media" src="/assets/Images/Logos/facebook-logo.png"></a>
  <a href="http://twitter.com" target="_blank" class="top_media_reference"><img class="top_media" src="/assets/Images/Logos/twitter-logo.png"></a>
  <a href="http://google.com" target="_blank" class="top_media_reference"><img class="top_media" src="/assets/Images/Logos/google-logo.png"></a>
  <a href="http://instagram.com" target="_blank" class="top_media_reference"><img class="top_media" src="/assets/Images/Logos/instagram-logo.png"></a>
  <a href="https://www.linkedin.com/" target="_blank" class="top_media_reference"><img class="top_media" src="/assets/Images/Logos/linkedin-logo.png"></a>
  <a href="http://www.pinterest.com/" target="_blank" class="top_media_reference"><img class="top_media" src="/assets/Images/Logos/pinterest-logo.png"></a>
  <a href="http://youtube.com" target="_blank" class="top_media_reference"><img class="top_media" src="/assets/Images/Logos/youtube-logo.png"></a>
  </div>
  <div class="main_header">
  <div id="logo-picture">
  <img class="law-logo" src="/assets/Images/law-logo.png" alt="Artim.law">
  </div>
  <div id="navigation">
  <ul class="header_list">
  <li><a href="http://localhost:4200/" class="menu">Homepage</a></li>
  <!--http://newthemes.net/artim/sectors/law/-->
  <li><a routerLink="/form" class="menu">About Us</a></li>
  <!--http://newthemes.net/artim/sectors/law/about-us/-->
  <li><a href="http://localhost:4200/" class="menu">Lawyers</a></li>
  <!--http://newthemes.net/artim/sectors/law/lawyers/-->
  <li><a href="http://newthemes.net/artim/sectors/law/template_services/" class="menu">Services</a></li>
  <li><a href="/registration" class="menu">Blog</a></li>
  <!--<li><a href="http://newthemes.net/artim/sectors/law/right-sidebar/" class="menu">Blog</a></li>-->
  <li><a href="http://newthemes.net/artim/sectors/law/contact/" class="menu">Contact</a></li>
  </ul>
  </div>
  </div>
  
  </header>
