<div class="second_block">
  <ul>
  <li>
  <img class="block2_img" src="/assets/Images/block2_img1.png" alt="block2_img1">
  <p class="block2_text">
  Business Law
  <br>
  Phasellus iaculis posuere velit, congue
  <br> 
  placerat duawi rhoncus vel. Maecenas
  <br>
  tortor orci, aliquet.
  </p>
  </li>
  <li>
  <img class="block2_img" src="/assets/Images/block2_img2.png" alt="block2_img2">
  <p class="block2_text">
  Civil Litigation
  <br>
  Phasellus iaculis posuere velit, congue
  <br> 
  placerat duawi rhoncus vel. Maecenas
  <br>
  tortor orci, aliquet.
  </p>
  </li>
  <li>
  <img class="block2_img" src="/assets/Images/block2_img3.png" alt="block2_img3">
  <p class="block2_text">
  Insurance Defence
  <br>
  Phasellus iaculis posuere velit, congue
  <br> 
  placerat duawi rhoncus vel. Maecenas
  <br>
  tortor orci, aliquet.
  </p>
  </li>
  <li>
  <img class="block2_img" src="/assets/Images/block2_img4.png" alt="block2_img4">
  <p class="block2_text">
  Business Litigation
  <br>
  Phasellus iaculis posuere velit, congue
  <br> 
  placerat duawi rhoncus vel. Maecenas
  <br>
  tortor orci, aliquet.
  </p>
  </li>
  </ul>
  </div>
