@import "../component";

.second_block
{
    @include WidthHeight(100%, 40%);
	padding-top: 2%;
    padding-bottom: 2%;
	font-family: "Open Sans";
    line-height: 24px;
    font-weight: 400;
	font-style: normal;
    background-color: $grey;
    font-size: 17px;
    text-align: center;
    li
    {
        margin: 0px 20px 0px 20px;
        display: $display;
    }
    ul
    {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
.block2_img
{
    @include WidthHeight(64px, 64px);    
}
