@import "../component";
.first_block
{
    @include WidthHeight(100%, 630px);
	position: relative;
	background: url($background-path + "home-law2.jpg") no-repeat center center;
    background-size: cover;
    span
    {
        margin-left: 50%;
    }
}
.block1_text1
{
    position:$absolute-position;
    top:185px;  
    left:20px;
    background-color: rgba(255, 255, 255, 0.8);
    @include TextDecoration(50px, Lato, rgba(131, 112, 46, 1));
	padding:10px 20px;
}
.block1_text2
{
    position:$absolute-position;
    top:280px;  
    left:20px;
    @include TextDecoration(normal, "Lato", $white);
	letter-spacing:2.5px;
	width:575px;
	padding:12px 20px;
	background-color:rgba(131, 112, 46, 0.8);
}
.block1_text3
{
    position:$absolute-position;
    top:345px;  
    left:20px;
    @include TextDecoration(normal, "Lato", $white);
	letter-spacing:0.5;
	width:185px;
	text-align:center;
	padding:12px 20px;
	background-color:rgba(131, 112, 46, 0.8);
}