.input {
	position: relative;
	display: inline-table;
	margin-top: 20px;
	font-family: cursive;
label {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 10px;
	background: white;
	padding: 5px 2px;
	border-radius: 10px;
}
select {
	padding: 10px 20px;
	font-size: 25px;
	outline: 0;
	border-radius: 10px;
}
input {

	font-size: 25px;
	padding: 10px 20px;
	outline: 0;
	border-radius: 10px;
}
button {
    padding: 10px 20px;
	font-size: 25px;
	outline: 0;
	font-family: cursive;
	border-radius: 10px;
	}
}
.isauction {
	input {
		margin: 25px 50px 5px 50px;
		border-radius: 10px;
	}
}
.datepicker {
	padding: 10px 12px;	
}