@import "../component";

.top
{
	padding-left: 10%;
	background: rgb(140, 112, 46);
}
.top_media
{
    @include WidthHeight(17px, 17px);
	margin:5px 5px 0px 5px;
}
.main_header
{
    margin: 25px 0px 25px 20px;
    div
    {
        display: $display;
    }
    li
    {
        width: 90px;
        display: $display;
    }
}
#navigation
{
	padding-left: 30%;
}
#logo-picture
{
	padding-left: 10%;
}
.menu
{
	color:#5a5a5a;
	text-decoration:$none;
	font-size: 16px;
	padding-left:25px;
}