<div class="sixth_block">
  <div id="sixth_block_left">
  <img id="block6_img" src="/assets/Images/man.png">
  <div id="sixth_block_right">
  <h2>How it works</h2>
  <p>Man bun hashtag microdosing meggings, art party vegan messenger bag waistcoat cred shoreditch fap.</p>
  <div class="block6_right_small_block">
  <img class="number_of_small_div" src="/assets/Images/Numbers/1.png" alt="1">
  <h2>Free Consultation</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
  </div>
  <div class="block6_right_small_block">
  <img class="number_of_small_div" src="/assets/Images/Numbers/2.png" alt="2">
  <h2>Quality Representation</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
  </div>
  <div class="block6_right_small_block">
  <img class="number_of_small_div" src="/assets/Images/Numbers/3.png" alt="3">
  <h2>Fair Fees</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
  </div>
  <div class="block6_right_small_block">
  <img class="number_of_small_div" src="/assets/Images/Numbers/4.png" alt="4">
  <h2>Litigation</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
  </div>
  </div>
  </div>
  </div>
