<div class="fourth_block">
  <h3>Meet Our Attorneys</h3>
  <div class="employers">
  <div class="employer" id="first_employer">
  <img class="employer_photo" src="/assets/Images/employer_photo1.png" alt="employer_photo1">
  <span class="employer_name">Alex Smith</span>
  <span class="employer_post">Owner, Partner</span>
  </div>
  <div class="employer" id="second_employer">
  <img class="employer_photo" src="/assets/Images/employer_photo2.png" alt="employer_photo2">
  <span class="employer_name">Susan Tylor</span>
  <span class="employer_post">CEO</span>
  </div>
  <div class="employer" id="third_employer">
  <img class="employer_photo" src="/assets/Images/employer_photo3.png" alt="employer_photo3">
  <span class="employer_name">George Smith</span>
  <span class="employer_post">Partner</span>
  </div>
  <div class="employer" id="fourth_employer">
  <img class="employer_photo" src="/assets/Images/employer_photo4.png" alt="employer_photo4">
  <span class="employer_name">Lexi Tylor</span>
  <span class="employer_post">Partner</span>
  </div>
  </div>
  </div>
