<footer>

  <div id="top_section_of_footer">
  <div class="footer_top_small_block" id="first_section_of_top_of_footer ">
  <aside>
  <img src="/assets/Images/artim.png" alt="artim">
  <p>
  But nothing the copy said could
  <br>
  convince her and so it didn’t take
  <br>
  long until a few insidious.
  </p>
  </aside>
  </div>
  <div class="footer_top_small_block">
  <aside>
  <h2>LASTEST POST</h2>
  <ul>
  <li><a href="http://newthemes.net/artim/sectors/law/dissuade-ecstatic/">Dissuade Ecstatic</a></li>
  <li><a href="http://newthemes.net/artim/sectors/law/properly-saw/">Properly Saw</a></li>
  <li><a href="http://newthemes.net/artim/sectors/law/laughter-endeavor/">Laughter Endeavor</a></li>
  <li><a href="http://newthemes.net/artim/sectors/law/vanity-excuse/">Vanity Excuse</a></li>
  <li><a href="http://newthemes.net/artim/sectors/law/sufficient-understood/">Sufficient Understood</a></li>
  </ul>
  </aside>
  </div>
  <div class="footer_top_small_block">
  <aside>
  <h2>BUSINESS HOURS</h2>
  <div>
  Our support Hotline is available 24
  <br>
  Monday-Friday: 9am to 5pm
  <br>
  Saturday: 10am to 2pm
  <br>
  Sunday: Closed
  </div>
  </aside>
  </div>
  <div class="footer_top_small_block">
  <aside>
  <h2>PORTFOLIO</h2>
  </aside>
  </div>
  </div>
  <div id="bottom_section_of_footer">
  <ul class="footer_list">
  <li><a href="http://newthemes.net/artim/sectors/law/" class="menu_second">Homepage</a></li>
  <li><a href="http://newthemes.net/artim/sectors/law/about-us/" class="menu_second">About Us</a></li>
  <li><a href="http://newthemes.net/artim/sectors/law/lawyers/" class="menu_second">Lawyers</a></li>
  <li><a href="http://newthemes.net/artim/sectors/law/template_services/" class="menu_second">Services</a></li>
  <li><a href="http://newthemes.net/artim/sectors/law/right-sidebar/" class="menu_second">Blog</a></li>
  <li><a href="http://newthemes.net/artim/sectors/law/contact/" class="menu_second">Contact</a></li>
  </ul>
  </div>
  
  </footer>
